h2.section__title.section__title--white Key Findings

.k-findings
  .k-findings__img-wrapper
    picture
      source(media='(min-width: 1850px)', srcset="images/photo/robber-1920.png, images/photo/robber-1920@2x.png 2x")
      source(media='(max-width: 779px)', srcset="images/photo/robber-320.png, images/photo/robber-320@2x.png 2x")
      source(media='(max-width: 1019px)', srcset="images/photo/robber-780.png, images/photo/robber-780@2x.png 2x")
      source(media='(max-width: 1439px)', srcset="images/photo/robber-1019.png, images/photo/robber-1019@2x.png 2x")
      img.k-findings__img(src="images/photo/robber.png", srcset="images/photo/robber@2x.png 2x")

  ul.k-findings__list
    li.k-findings__list-item
      p.k-findings__list-item-text
        | From 2015 to 2016 reports of 
        span.semibold
          | credit card fraud increased 

        | nationwide by 5.15%

    li.k-findings__list-item
      p.k-findings__list-item-text
        | Reports of 
        span.semibold
          | identity theft decreased 

        | significantly, by 16.05% in the same time period.

    li.k-findings__list-item
      p.k-findings__list-item-text
        | Across the states, we observed 
        span.semibold
          | absolutely no correlation 

        | between per capita income and incidents of identity theft and/or credit card fraud. The average per capita income for the top ten states is $55,994, whereas the average income for states with the lowest incidence and impact of fraud and theft is $55,186. States with the lowest incidence rate displayed a greater range in average incomes ($31,491 difference between highest and lowest (Hawaii’s $73,486 vs Arkansas’ $41,995) for the lowest, versus. $20,880 difference (Virginia’s $66,262.00 vs. New Mexico’s $45,382) for the highest).

    li.k-findings__list-item
      p.k-findings__list-item-text
        | There is a 
        span.semibold
          | relatively strong correlation 

        | between reports of credit card fraud & identity theft and the average credit scores for the states in question: credit scores for the ten states most prone to fraud average in the 23rd percentile (660) nationwide, whereas in the states least prone to fraud average in the 68th (681).

    li.k-findings__list-item
      p.k-findings__list-item-text
        | Once again we saw a wider range in the states where fraud and theft are least frequent and least severe: generally speaking, we can say that states with both high income and high average credit scores, and those with average incomes and credit scores that are significantly lower than the national average are 
        span.semibold
          | safest from fraud.

    li.k-findings__list-item
      p.k-findings__list-item-text
        | While it is impossible to properly attribute causality, being poor and having economically disadvantaged credit may have the advantage of having a 
        span.semibold
          | lower risk 

        | of becoming a victim of financial fraud.
