.main-block
  .breadcrumbs__wrap
    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Home
    .breadcrumbs__item
      a.breadcrumbs__link(href='')
        | Reports
    .breadcrumbs__item
      | Most At-Risk States for Credit Card Fraud and Identity Theft
  .main-block__text
    h1.main-block__title Most At-Risk States for Credit Card Fraud and Identity Theft?
    p.main-block__text-item Over two and a half million people in the US become victims of credit card fraud and/or identity theft every year. RewardExpert analyzed the data to rate which states are the most and least at-risk.
    p.main-block__author RewardExpert
  .main-block__mask
