.section__upper.section__upper--secure
  .section__upper-text
    h2.section__title.section__title--close
      | Top 10 Most Secure States

    p.section__under-title
      | These are the top ten states where credit card fraud and identity theft run most rampant.

.rankings__wrapper
  .rankings__item
    .rankings__item-header
      span.rate-block
        | 0.00
      h3.rankings__item-title
        | Iowa

    .rankings__item-num-block
      p.rankings__item-num
        | 1

    p.rankings__item-text
      | If you are concerned about becoming a victim of financial fraud, you might want to consider moving to Iowa. Credit card fraud reports are third lowest in Iowa both online and off, while identity theft reports to the FBI’s IC3 and the FTC’s Consumer Sentinel Network are also among the lowest in the land (4th percentile). Financial losses when fraud does strike are somewhat lower than the national average, while losses due to identity theft are miniscule compared to other states, averaging $816 per incident.

  .rankings__item
    .rankings__item-header
      span.rate-block
        | 2.04
      h3.rankings__item-title
        | South Dakota

    .rankings__item-num-block
      p.rankings__item-num
        | 2

    p.rankings__item-text
      | South Dakota leads the nation for having the least internet-facilitated credit card theft, with only 12 incidents reported to the FBI’s IC3, and the lowest financial losses due to identity theft, at a mere $264 per incident. Overall statistics from the FTC and CFPB are comparable. South Dakotans simply are not frequently targets of either credit card fraud or identity theft.

  .rankings__item
    .rankings__item-header
      span.rate-block
        | 4.08
      h3.rankings__item-title
        | Wyoming

    .rankings__item-num-block
      p.rankings__item-num
        | 3

    p.rankings__item-text
      | With Wyoming coming in at third least-impacted by fraud and identity theft, we can see a clear geographical pattern, which will become even more obvious as our list goes on: states in the Upper Midwest and Great Plains regions have the lowest rates of reported credit card fraud and identity theft. Incidents, when they happen, are apparently resolved without great financial loss, as average losses reported by the IC3 ($1,716 per incident of credit card fraud, and $386 per incident of identity theft) are well below the national average for both categories.

  .rankings__item
    .rankings__item-header
      span.rate-block
        | 6.12
      h3.rankings__item-title
        | North Dakota

    .rankings__item-num-block
      p.rankings__item-num
        | 4

    p.rankings__item-text
      | North Dakota residents have the highest average credit scores in the nation (tied with Minnesota), with Experian reporting an average score of 701. This may in part be a consequence of rare occurrence of fraud and identity theft in the state, and as such North Dakotans face fewer dings to their credit scores due to events beyond their control. North Dakota has some of the lowest rates of internet-mediated fraud and theft, and has the lowest per capita rate of financial fraud, with only 284 out of every 100,000 residents affected.

  .rankings__item
    .rankings__item-header
      span.rate-block
        | 8.16

      h3.rankings__item-title
        | Maine

    .rankings__item-num-block
      p.rankings__item-num
        | 5

    p.rankings__item-text
      | The state of Maine is a geographical anomaly in our analysis. Maine is the only state in the Northeastern region where credit card fraud and identity theft is not a major problem. Credit card fraud affects 423 per 100,000 residents (versus 547 in Massachusetts, and 463 in New Hampshire). In fact, credit card fraud incidents noted by the FTC have decreased by 5.22%, while nationally, incidents have increased by 5.15%.

  .rankings__item
    .rankings__item-header
      span.rate-block
        | 10.2
      h3.rankings__item-title
        | Arkansas

    .rankings__item-num-block
      p.rankings__item-num
        | 6

    p.rankings__item-text
      | It may come as some surprise that alongside states with relatively wealthy, financially stable populations, we find Arkansas, home to a relatively underprivileged population, at number six. Arkansas makes the list primarily on its very low rates of internet mediated financial fraud (with scores ranging from the 2nd to 10th percentile on all measures, and affecting fewer than 3 people per 100,000 residents).

  .rankings__item
    .rankings__item-header
      span.rate-block
        | 12.24
      h3.rankings__item-title
        | Nebraska

    .rankings__item-num-block
      p.rankings__item-num
        | 7

    p.rankings__item-text
      | For number seven, we return to the peaceful, safe, and honest Great Plains to find Nebraska, yet another state in a region that appears to be a solid bloc with little fraudulent activity. Nebraska has the sixth lowest incidence rate of credit card fraud, and ninth lowest according to IC3 data. Nebraskans have a relatively high average credit score of 691, indicating either a low impact of financial fraud, or competent and comprehensive handling of incidents when they occur.

  .rankings__item
    .rankings__item-header
      span.rate-block
        | 14.28
      h3.rankings__item-title
        | Wisconsin

    .rankings__item-num-block
      p.rankings__item-num
        | 8

    p.rankings__item-text
      | It is somewhat surprising to find Wisconsin on our list of states least affected by credit card fraud and identity theft, given its proximity to a distinct hot-spot of identity theft activity in neighboring states like Illinois and Michigan. It turns out that Wisconsin has more in common with another neighboring state, Iowa. In fact, identity theft cases are down in Wisconsin by 46.88% since 2015 to an average rate of 87.5 per 100,000 residents. The rate of credit card fraud is slightly up over the same time period, but remains at a relatively low rate of 465 people per 100,000.

  .rankings__item
    .rankings__item-header
      span.rate-block
        | 16.32
      h3.rankings__item-title
        | Louisiana

    .rankings__item-num-block
      p.rankings__item-num
        | 9

    p.rankings__item-text
      | Like Arkansas, Louisiana seems like an unlikely addition to our list. However, it does appear that in some cases lower income and lower credit scores correlates with a lower risk of becoming a victim of financial fraud. Like Arkansas, internet and data-breach related incidents are rare, and when they do occur, less financial harm is done, even when Louisiana’s average income is taken into account, with an average incident of credit card fraud costing $1,551, and an incident of identity theft costing $827.

  .rankings__item
    .rankings__item-header
      span.rate-block
        | 18.37
      h3.rankings__item-title
        | Hawaii

    .rankings__item-num-block
      p.rankings__item-num
        | 10

    p.rankings__item-text
      | Finally, at tenth place, we have Hawaii. Hawaii is distinguished by having the lowest rate of identity theft in the nation, as reported by the FTC Consumer Sentinel Report, with only 55 out of every 100,000 residents affected. Rates of reports to the IC3 and CFPB are comparably low, consistently in the bottom tenth to 25th percentiles.

.btn__container
  a.btn__main(href='/fraud-full.html')
    span.btn__main-text Click here for the full ranking
