-
  var values = [
     {
       rank: 1,
       state: "NV",
       population: "2,890,845",
       perCapitaIncome: "$52,431.00",
       csnCC2016: 872,
       change: 4.19,
       csnIDtheft: 135.8,
       IC3Fraud: 9.27,
       IDtheft: 9.82
     },
     {
       rank: 2,
       state: "CA",
       population: "39,144,818",
       perCapitaIncome: "$64,500.00",
       csnCC2016: 713.1,
       change: -4.94,
       csnIDtheft: 139.5,
       IC3Fraud: 5.87,
       IDtheft: 6.05
     },
     {
       rank: 3,
       state: "NM",
       population: "2,085,109",
       perCapitaIncome: "$45,382.00",
       csnCC2016: 667.9,
       change: 12.43,
       csnIDtheft: 96.9,
       IC3Fraud: 2.88,
       IDtheft: 5.56
     },
     {
       rank: 4,
       state: "FL",
       population: "20,271,272",
       perCapitaIncome: "$49,426.00",
       csnCC2016: 1305.6,
       change: -13.55,
       csnIDtheft: 166.8,
       IC3Fraud: 6.54,
       IDtheft: 7.9
     },
     {
       rank: 5,
       state: "TX",
       population: "27,469,114",
       perCapitaIncome: "$55,653.00",
       csnCC2016: 952.3,
       change: 1.16,
       csnIDtheft: 119.2,
       IC3Fraud: 3.44,
       IDtheft: 5.23
     },
     {
       rank: 6,
       state: "MI",
       population: "9,922,576",
       perCapitaIncome: "$51,084.00",
       csnCC2016: 1083.3,
       change: -5.27,
       csnIDtheft: 175.6,
       IC3Fraud: 3.16,
       IDtheft: 5.33
     },
     {
       rank: 7,
       state: "VA",
       population: "8,382,993",
       perCapitaIncome: "$66,262.00",
       csnCC2016: 701.3,
       change: 8.68,
       csnIDtheft: 104.3,
       IC3Fraud: 5.99,
       IDtheft: 5.79
     },
     {
       rank: 8,
       state: "AZ",
       population: "6,828,065",
       perCapitaIncome: "$51,492.00",
       csnCC2016: 656.9,
       change: 5.35,
       csnIDtheft: 126.2,
       IC3Fraud: 4.64,
       IDtheft: 5.99
     },
     {
       rank: 9,
       state: "IL",
       population: "12,859,995",
       perCapitaIncome: "$59,588.00",
       csnCC2016: 576.7,
       change: 11.51,
       csnIDtheft: 138,
       IC3Fraud: 3.69,
       IDtheft: 4.07
     },
     {
       rank: 10,
       state: "WA",
       population: "7,170,351",
       perCapitaIncome: "$64,129.00",
       csnCC2016: 554.7,
       change: 9.68,
       csnIDtheft: 114,
       IC3Fraud: 8.66,
       IDtheft: 6.43
     },
     {
       rank: 11,
       state: "MD",
       population: "6,006,401",
       perCapitaIncome: "$75,847.00",
       csnCC2016: 807.7,
       change: 7.84,
       csnIDtheft: 137.1,
       IC3Fraud: 8.29,
       IDtheft: 6.84
     },
     {
       rank: 12,
       state: "DE",
       population: "945,934",
       perCapitaIncome: "$61,255.00",
       csnCC2016: 797.5,
       change: -1.27,
       csnIDtheft: 155.9,
       IC3Fraud: 4.44,
       IDtheft: 3.81
     },
     {
       rank: 13,
       state: "GA",
       population: "10,214,860",
       perCapitaIncome: "$51,244.00",
       csnCC2016: 1136.6,
       change: -5.94,
       csnIDtheft: 124,
       IC3Fraud: 2.96,
       IDtheft: 4.26
     },
     {
       rank: 14,
       state: "CO",
       population: "5,456,574",
       perCapitaIncome: "$75,628.00",
       csnCC2016: 609.1,
       change: 2.79,
       csnIDtheft: 112,
       IC3Fraud: 5.04,
       IDtheft: 6.21
     },
     {
       rank: 15,
       state: "NY",
       population: "19,795,791",
       perCapitaIncome: "$60,850.00",
       csnCC2016: 567.3,
       change: 8.07,
       csnIDtheft: 102.3,
       IC3Fraud: 3.36,
       IDtheft: 3.75
     },
     {
       rank: 16,
       state: "TN",
       population: "6,600,299",
       perCapitaIncome: "$47,275.00",
       csnCC2016: 767.3,
       change: 14.47,
       csnIDtheft: 86,
       IC3Fraud: 3.71,
       IDtheft: 4.26
     },
     {
       rank: 17,
       state: "AL",
       population: "4,858,979",
       perCapitaIncome: "$44,765.00",
       csnCC2016: 809,
       change: 9.6,
       csnIDtheft: 82.4,
       IC3Fraud: 11.94,
       IDtheft: 4.96
     },
     {
       rank: 18,
       state: "SC",
       population: "4,896,146",
       perCapitaIncome: "$47,238.00",
       csnCC2016: 700.8,
       change: 26.66,
       csnIDtheft: 89.5,
       IC3Fraud: 2.35,
       IDtheft: 3.37
     },
     {
       rank: 19,
       state: "MA",
       population: "6,794,422",
       perCapitaIncome: "$70,628.00",
       csnCC2016: 547.2,
       change: -1.86,
       csnIDtheft: 107,
       IC3Fraud: 3.33,
       IDtheft: 4.44
     },
     {
       rank: 20,
       state: "OR",
       population: "4,028,977",
       perCapitaIncome: "$54,148.00",
       csnCC2016: 546.8,
       change: 8.06,
       csnIDtheft: 105.3,
       IC3Fraud: 4.49,
       IDtheft: 5.88
     },
     {
       rank: 21,
       state: "NC",
       population: "10,042,802",
       perCapitaIncome: "$47,830.00",
       csnCC2016: 641.2,
       change: 16.52,
       csnIDtheft: 96.1,
       IC3Fraud: 2.73,
       IDtheft: 3.44
     },
     {
       rank: 22,
       state: "MO",
       population: "6,083,672",
       perCapitaIncome: "$50,238.00",
       csnCC2016: 706.5,
       change: 15.95,
       csnIDtheft: 136.1,
       IC3Fraud: 3.96,
       IDtheft: 3.94
     },
     {
       rank: 23,
       state: "CT",
       population: "3,590,886",
       perCapitaIncome: "$63.909,00",
       csnCC2016: 590.4,
       change: 6.55,
       csnIDtheft: 137.9,
       IC3Fraud: 3.45,
       IDtheft: 4.15
     },
     {
       rank: 24,
       state: "PA",
       population: "12,802,503",
       perCapitaIncome: "$55,702.00",
       csnCC2016: 659.2,
       change: 5.26,
       csnIDtheft: 109.7,
       IC3Fraud: 3.56,
       IDtheft: 3.45
     },
     {
       rank: 25,
       state: "NJ",
       population: "8,958,013",
       perCapitaIncome: "$72,222.00",
       csnCC2016: 636.7,
       change: 1.63,
       csnIDtheft: 111.5,
       IC3Fraud: 3.04,
       IDtheft: 3.54
     },
     {
       rank: 26,
       state: "VT",
       population: "626,042",
       perCapitaIncome: "$56,990.00",
       csnCC2016: 405.4,
       change: -0.32,
       csnIDtheft: 62,
       IC3Fraud: 3.99,
       IDtheft: 2.88
     },
     {
       rank: 27,
       state: "MN",
       population: "5,489,594",
       perCapitaIncome: "$63,488.00",
       csnCC2016: 470.7,
       change: 7.42,
       csnIDtheft: 107.2,
       IC3Fraud: 3.08,
       IDtheft: 3.5
     },
     {
       rank: 28,
       state: "IN",
       population: "6,619,680",
       perCapitaIncome: "$50,532.00",
       csnCC2016: 562.8,
       change: 10.11,
       csnIDtheft: 76.8,
       IC3Fraud: 4.52,
       IDtheft: 3.53
     },
     {
       rank: 29,
       state: "KY",
       population: "4,425,092",
       perCapitaIncome: "$45,215.00",
       csnCC2016: 539.7,
       change: 15.52,
       csnIDtheft: 65.3,
       IC3Fraud: 3.84,
       IDtheft: 3.62
     },
     {
       rank: 30,
       state: "RI",
       population: "1,056,298",
       perCapitaIncome: "$58,073.00",
       csnCC2016: 682.1,
       change: -10.81,
       csnIDtheft: 115.1,
       IC3Fraud: 2.37,
       IDtheft: 3.6
     },
     {
       rank: 31,
       state: "OH",
       population: "11,613,423",
       perCapitaIncome: "$51,075.00",
       csnCC2016: 664.8,
       change: 9.56,
       csnIDtheft: 94.8,
       IC3Fraud: 2.8,
       IDtheft: 3.75
     },
     {
       rank: 32,
       state: "AK",
       population: "738,432",
       perCapitaIncome: "$73,355.00",
       csnCC2016: 358.9,
       change: -9.15,
       csnIDtheft: 96.1,
       IC3Fraud: 8.13,
       IDtheft: 11.38
     },
     {
       rank: 33,
       state: "UT",
       population: "2,995,919",
       perCapitaIncome: "$62,912.00",
       csnCC2016: 417.9,
       change: 5.48,
       csnIDtheft: 83.2,
       IC3Fraud: 4.54,
       IDtheft: 4.54
     },
     {
       rank: 34,
       state: "MS",
       population: "2,992,333",
       perCapitaIncome: "$40,593.00",
       csnCC2016: 609.3,
       change: 18.01,
       csnIDtheft: 79.6,
       IC3Fraud: 1.77,
       IDtheft: 1.9
     },
     {
       rank: 35,
       state: "KS",
       population: "2,911,641",
       perCapitaIncome: "$53,906.00",
       csnCC2016: 503.4,
       change: 17.92,
       csnIDtheft: 87.1,
       IC3Fraud: 2.99,
       IDtheft: 4.09
     },
     {
       rank: 36,
       state: "NH",
       population: "1,330,608",
       perCapitaIncome: "$70,303.00",
       csnCC2016: 563.8,
       change: -1.43,
       csnIDtheft: 101.3,
       IC3Fraud: 4.28,
       IDtheft: 4.28
     },
     {
       rank: 37,
       state: "ID",
       population: "1,654,930",
       perCapitaIncome: "$48,275.00",
       csnCC2016: 463.4,
       change: 9.53,
       csnIDtheft: 80.1,
       IC3Fraud: 2.84,
       IDtheft: 4.83
     },
     {
       rank: 38,
       state: "MT",
       population: "1,032,949",
       perCapitaIncome: "$49,509.00",
       csnCC2016: 441.2,
       change: -0.32,
       csnIDtheft: 68.2,
       IC3Fraud: 3.39,
       IDtheft: 3.78
     },
     {
       rank: 39,
       state: "WV",
       population: "1,844,128",
       perCapitaIncome: "$42,019.00",
       csnCC2016: 543.3,
       change: 21.59,
       csnIDtheft: 59.7,
       IC3Fraud: 3.31,
       IDtheft: 3.42
     },
     {
       rank: 40,
       state: "OK",
       population: "3,911,338",
       perCapitaIncome: "$48,568.00",
       csnCC2016: 518.7,
       change: 5.08,
       csnIDtheft: 85.1,
       IC3Fraud: 3.02,
       IDtheft: 3.89
     },
     {
       rank: 41,
       state: "HI",
       population: "1,431,603",
       perCapitaIncome: "$73,486.00",
       csnCC2016: 403.8,
       change: 8.76,
       csnIDtheft: 55.2,
       IC3Fraud: 2.86,
       IDtheft: 2.86
     },
     {
       rank: 42,
       state: "LA",
       population: "4,670,724",
       perCapitaIncome: "$45,727.00",
       csnCC2016: 701.9,
       change: 5.76,
       csnIDtheft: 69.7,
       IC3Fraud: 2.08,
       IDtheft: 2.48
     },
     {
       rank: 43,
       state: "WI",
       population: "5,771,337",
       perCapitaIncome: "$55,638.00",
       csnCC2016: 465.9,
       change: 5.26,
       csnIDtheft: 87.5,
       IC3Fraud: 2.84,
       IDtheft: 3.48
     },
     {
       rank: 44,
       state: "NE",
       population: "1,896,190",
       perCapitaIncome: "$54,996.00",
       csnCC2016: 411.9,
       change: 2.12,
       csnIDtheft: 83.1,
       IC3Fraud: 2.53,
       IDtheft: 3.11
     },
     {
       rank: 45,
       state: "AR",
       population: "2,978,204",
       perCapitaIncome: "$41,995.00",
       csnCC2016: 519,
       change: 8.48,
       csnIDtheft: 77.2,
       IC3Fraud: 2.42,
       IDtheft: 2.75
     },
     {
       rank: 46,
       state: "ME",
       population: "1,329,328",
       perCapitaIncome: "$51,494.00",
       csnCC2016: 423.7,
       change: -5.23,
       csnIDtheft: 87.9,
       IC3Fraud: 3.23,
       IDtheft: 3.76
     },
     {
       rank: 47,
       state: "ND",
       population: "756,927",
       perCapitaIncome: "$60,557.00",
       csnCC2016: 284.7,
       change: 2.13,
       csnIDtheft: 61.3,
       IC3Fraud: 2.38,
       IDtheft: 3.3
     },
     {
       rank: 48,
       state: "WY",
       population: "586,107",
       perCapitaIncome: "$60,214.00",
       csnCC2016: 416.2,
       change: 0.18,
       csnIDtheft: 74.6,
       IC3Fraud: 3.75,
       IDtheft: 5.29
     },
     {
       rank: 49,
       state: "SD",
       population: "858,469",
       perCapitaIncome: "$53,017.00",
       csnCC2016: 320.6,
       change: -9.94,
       csnIDtheft: 58.1,
       IC3Fraud: 1.4,
       IDtheft: 2.68
     },
     {
       rank: 50,
       state: "IA",
       population: "3,123,899",
       perCapitaIncome: "$54,736.00",
       csnCC2016: 342.5,
       change: -1.92,
       csnIDtheft: 68.1,
       IC3Fraud: 2.11,
       IDtheft: 2.66
     }
  ]