h2.section__title.section__title--white What You Can do to Protect Yourself

.tips__content
  .tips__img-wrapper
    picture
      source(media='(min-width: 1850px)', srcset="images/photo/protected-laptop.png, images/photo/protected-laptop@2x.png 2x")
      source(media='(max-width: 779px)', srcset="images/photo/protected-laptop.png, images/photo/protected-laptop@2x.png 2x")
      source(media='(max-width: 1019px)', srcset="images/photo/protected-laptop.png, images/photo/protected-laptop@2x.png 2x")
      source(media='(max-width: 1439px)', srcset="images/photo/protected-laptop.png, images/photo/protected-laptop@2x.png 2x")
      img.tips__img(src="images/photo/protected-laptop.png", srcset="images/photo/protected-laptop@2x.png 2x")

  ul.tips__list
    li.tips__list-item
      p.tips__list-item-text
        | Whether you live in one of the higher risk states or not, it is always a good idea to make conscious efforts to protect yourself from becoming a victim of credit card fraud or identity theft. 
        a.tips__list-item-text-link
          | The Federal Trade Commission 
        | (FTC), which serves as the nation’s consumer protection agency by preventing fraudulent, deceptive and unfair business practices, recommends a few simple habits to start practicing in order to safeguard your information.

    li.tips__list-item
      p.tips__list-item-text
        span.semibold Tip #1: Treat your account numbers like cash.
        br
        | Finally, at tenth place, we have Hawaii. Hawaii is distinguished by having the lowest rate of identity theft in the nation, as reported by the FTC Consumer Sentinel Report, with only 55 out of every 100,000 residents affected. Rates of reports to the IC3 and CFPB are comparably low, consistently in the bottom tenth to 25th percentiles.

    li.tips__list-item
      p.tips__list-item-text
        span.semibold Tip #2: Don’t share your account information with anyone.
        br
        | There are numerous scams out there where you suddenly receive a call informing you that you’ve won a prize or offering exclusive membership in some club. All they need is a little bit of your information to process the transaction. If you didn’t call them, don’t give them your information. Always make sure you are giving your information to a reputable organization.

    li.tips__list-item
      p.tips__list-item-text
        span.semibold Tip #3: Carry only the card you plan on using.
        br
        | There really is no need to carry all of your credit cards and banking information with you everywhere you go. Most of us have found it convenient to keep all of these details in one safe place - our wallets. But if your wallet or purse is stolen or lost, you have essentially just made it that much more convenient for a thief to get everything they need. Leave the credit cards and checkbooks at home, and only take the one or two that you plan on using during your day.

    li.tips__list-item
      p.tips__list-item-text
        span.semibold Tip #4: Compare your receipts to your monthly statements and report fraud right away.
        br
        | It is a good idea to keep receipts for your purchases so that you can compare the charges to your monthly statements each month, or periodically by logging into your online account. Once you have verified the transactions are correct, be sure to shred any information that has your account number on it. When you notice something suspicious that does not add up, 
        a.tips__list-item-text-link(href='')
          | always report fraud 

        | to your bank right away.

    li.tips__list-item
      p.tips__list-item-text
        span.semibold Tip #5: Apply for credit cards that offer the best in fraud prevention.
        br
        | Applying for credit cards that offer an extra layer of security is a great idea, as well. Many banks now have a variety of fraud prevention features to choose from.

    li.tips__list-item
      p.tips__list-item-text
        a.tips__list-item-text-link(href='')
          | Bank of America
        | , for example, recently topped the list of companies offering their clients fraud protection. They rated highest in authenticating their customers transactions are actually being made by their customers.

    li.tips__list-item
      p.tips__list-item-text
        | USAA ranked highest in prevention by offering two-way alerts to their customers, which notify the customer in real time when a transaction has occurred.

    li.tips__list-item
      p.tips__list-item-text
        a.tips__list-item-text-link(href='')
          | Wells Fargo 
        | topped the list when it comes to detecting fraudulent activities. And Associated Bank and SunTrust tied for top honors when it comes to resolving issues of fraud on your account.

h2.section__title.section__title--white.section__title--long
  | Here are some great credit card offers
  br
  | that also provide top-notch fraud prevention services:

.tips__cards
  a.tips__cards-item(href='')
    .tips__cards-item-img
      picture
        img.tips__img(src="images/photo/discover.png", srcset="images/photo/discover@2x.png 2x")

    .tips__cards-item-text-wrap
      span.tips__cards-item-text
        | Discover It Chrome Card

  a.tips__cards-item(href='')
    .tips__cards-item-img
      picture
        img.tips__img(src="images/photo/chase.png", srcset="images/photo/chase@2x.png 2x")

    .tips__cards-item-text-wrap
      span.tips__cards-item-text
        | Chase Sapphire Preferred

  a.tips__cards-item(href='')
    .tips__cards-item-img
      picture
      img.tips__img(src="images/photo/bank-of-america.png", srcset="images/photo/bank-of-america@2x.png 2x")

    .tips__cards-item-text-wrap
      span.tips__cards-item-text
        | Bank of America Alaska Airlines Visa Signature
