.section
  padding: 64px 45px
  background-color: $color_white
  margin-bottom: 10px

  +respond-from(1850px)
    padding: 64px 60px

  +respond-to(1439px)
    padding: 45px

  +respond-to(1019px)
    padding: 45px 25px

  +respond-to(779px)
    padding: 30px 12px

.section--upper
  position: relative
  padding-top: 45px
  padding-left: 37px

  +respond-from(1850px)
    position: relative
    padding: 45px 60px 64px 60px

  +respond-to(1439px)
    padding: 45px

  +respond-to(1019px)
    display: flex
    flex-direction: row
    flex-wrap: wrap
    justify-content: space-between
    padding: 45px 25px

  +respond-to(779px)
    justify-content: center
    padding: 25px 12px 42px 12px

    .under-title
      font-size: 15px
      line-height: 28px
      font-weight: 200

.section--wide
  padding-top: 0
  padding-left: 0
  padding-right: 0

.section__title
  font-size: 32px
  line-height: 40px
  margin-bottom: 30px
  color: #103144
  text-align: center
  font-weight: 600

  +respond-to(1019px)
    margin-bottom: 30px

  +respond-to(779px)
    font-size 26px
    line-height: 34px

.section--methodology
  border-radius: 0 0 5px 5px

.section__title--white
  color: #ffffff

.section__under-title
  @extend .main-text
  font-style: italic
  margin: 0 45px
  text-align: center

  +respond-from(1850px)
    margin: 0 60px

  +respond-to(1019px)
    margin: 0 25px

  +respond-to(779px)
    margin: 0 12px

.section__title--close
  margin-bottom: 12px

.section__under-title--white
  color: #ffffff

.section--k-findings
  position: relative
  background-image: linear-gradient(180deg, #1c3660 0%, #060a16 100%)
  color: #ffffff

.section__upper
  position: relative
  width: 100%
  height: 570px
  margin-bottom: 45px

.section__upper--at-risk
  background: url(images/photo/risk.png) center no-repeat
  @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
    background: url(images/photo/risk@2x.png) center no-repeat
    background-size: cover

  +respond-from(1850px)
    background: url(images/photo/risk-1920.png) center no-repeat
    @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
      background: url(images/photo/risk-1920@2x.png) center no-repeat
      background-size: cover

  +respond-to(1019px)
    background: url(images/photo/risk-1020.png) center no-repeat
    @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
      background: url(images/photo/risk-1020@2x.png) center no-repeat
      background-size: cover

  +respond-to(779px)
    background: url(images/photo/risk-780.png) center no-repeat
    @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
      background: url(images/photo/risk-780@2x.png) center no-repeat
      background-size: cover

  +respond-to(320px)
    background: url(images/photo/risk-320.png) center no-repeat
    @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
      background: url(images/photo/risk-320@2x.png) center no-repeat
      background-size: cover

.section__upper--secure
  background: url(images/photo/secure.png) center no-repeat
  @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
    background: url(images/photo/secure@2x.png) center no-repeat
    background-size: cover

  +respond-from(1850px)
    background: url(images/photo/secure-1920.png) center no-repeat
    @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
      background: url(images/photo/secure-1920@2x.png) center no-repeat
      background-size: cover

  +respond-to(1019px)
    background: url(images/photo/secure-1020.png) center no-repeat
    @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
      background: url(images/photo/secure-1020@2x.png) center no-repeat
      background-size: cover

  +respond-to(779px)
    background: url(images/photo/secure-780.png) center no-repeat
    @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
      background: url(images/photo/secure-780@2x.png) center no-repeat
    background-size: cover

  +respond-to(320px)
    background: url(images/photo/secure-320.png) center no-repeat
    @media (-webkit-min-device-pixel-ratio: 2),( min--moz-device-pixel-ratio: 2),(-o-min-device-pixel-ratio: 2/1), (min-device-pixel-ratio: 2),(min-resolution: 192dpi), (min-resolution: 2dppx)
      background: url(images/photo/secure-320@2x.png) center no-repeat
      background-size: cover

.section__upper-text
  position: absolute
  width: 100%
  top: 45px
  left: 50%
  transform: translate(-50%)
